.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loginBox {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  margin: 10px 0;
  width: 400px;
}

/* input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
} */

.message {
  margin-top: 10px;
  color: #af273e;
  font-size: 16px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
