.notificationPanel {
  position: fixed;
  top: 0;
  right: -400px; /* Start off-screen */
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 9999;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.notificationPanelOpen {
  right: 0; /* Slide in from the right */
  position: fixed;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 9999;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

.notificationContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  background-color: white;
}

.notificationBox {
  display: flex;
  /* gap: 16px; */
  align-items: center;
  padding: 20px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #333333; /* Re-apply the border for all except the last child */
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 20%;
}

.logo {
  border-radius: 50%;
  max-height: 100%;
  background-color: bisque;
  width: 40px;
  height: 40px;
}

.text {
  font-size: 16px;
  width: 100%;
}

.notificationContent {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
